.subs-welcome-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subs-welcome {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.subs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 1em;
    justify-content: center;
    padding: 28px 14px;
}