.subs-grid-wrapper {
    margin: auto;
    min-height: 100%;
}

.subs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 1em;
    justify-content: center;
    padding: 25px;
}

@media(max-width: 1400px) {
    .subs-grid-wrapper {
        margin: 0;
    }
    
    .subs-grid {
        padding: 25px 0;
    }
}