.controls {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 15px 15px 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
}

.controls-center {
    flex: 10;
    padding-top: 22px;
    text-align: center;
    margin: 0 25px;
    position: relative;
}

.controls-left {
    flex: 2;
    display: inherit;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.current, .remaining {
    position: absolute;
    bottom: 0;
}

.current {
    left: 0;
}

.remaining {
    right: 0;
}

.seek {
    margin: 15px 0;
}