.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Main {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Main .Body {
    height: 100%;
    width: 100vw;
    overflow-y: scroll;
}

/* Selects all content within Body except for the NavBar */
.Main .Body > *:not(.NavBar) {
    max-width: 1400px;
    margin: auto;
}

.Player {
    min-height: 145px;
    z-index: 22;
    position: relative;
}

.Player .ControlsCard {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}