.App {
    position: relative;
    display: flex;
    height: 100%;
    width: 100vw;
}

.App .Wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.Main {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Main .Body {
    height: 100%;
    width: 100vw;
    overflow-y: scroll;
    position: relative;
}

.Player {
    flex-shrink: 0;
    min-height: 160px;
    z-index: 22;
    position: relative;
}

.Player .ControlsCard {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}